<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>error</title>

    <style>
        body {
            height: 100%;
            width: 100%;
            background: url('/static/img/404.png') no-repeat;
            background-size: cover;
            position: absolute;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
    </div>
</div>
</body>
</html>