{% extends "base.html" %}

{% block css %}
    <style>
        #cen {
            text-align: center;
        }

        a:hover {
            color: red;
        }

        .env-name {
            max-width: 200px;
            word-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .env-name:hover {
            white-space: normal;
            overflow: auto;
        }

        .btn-primary:hover {
            color: red;
        }

        tr:hover {
            background-color: #e7e7e7;
        }
    </style>
{% endblock %}

{% block crumbs %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'index' %}">主页</a>
                </li>
                <li class="active">
                    <a class="this">测试环境</a>
                </li>
                <li class="active">
                    <a class="this-page">测试环境</a>
                </li>
            </ol>

        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <a href="{% url 'base:env_add' %}" class="btn btn-primary"><i
                            class="fa fa-plus-circle"></i>&nbsp;添加环境</a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th id="cen">ID</th>
                            <th id="cen">测试环境</th>
                            <th id="cen">swagger导入</th>
                            <th id="cen">url</th>
                            <th id="cen">所属项目</th>
                            <th id="cen">密钥</th>
                            <th id="cen">描述</th>
                            <th id="cen">更新时间</th>
                            <th id="cen">更新用户</th>
                            <th id="cen">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for env in object_list %}
                            {#                            {% for env in env_ %}#}
                            <tr>
                                <td id="cen">{{ env.env_id }}</td>
                                <td class="env-name"><a href="{% url 'base:env_update' %}?env_id={{ env.env_id }}"
                                                        class="layui-btn layui-btn-xs"
                                                        lay-event="edit">{{ env.env_name }}</a></td>
                                <td id="cen">{{ env.is_swagger }}</td>
                                <td>{{ env.url }}</td>
                                <td id="cen">{{ env.project }}</td>
                                <td id="cen">{{ env.private_key }}</td>
                                <td>{{ env.description }}</td>
                                <td id="cen">{{ env.update_time }}</td>
                                <td id="cen">{{ env.update_user }}</td>
                                <td id="cen">
                                    <a href="{% url 'base:set_headers' %}?env_id={{ env.env_id }}"
                                       class="layui-btn layui-btn-danger layui-btn-xs"><i
                                            class="fa fa-header"></i>&nbsp;&nbsp;&nbsp;</a>
                                    <a href="{% url 'base:env_delete' %}?env_id={{ env.env_id }}"
                                       class="layui-btn layui-btn-danger layui-btn-xs"
                                       onclick="return delete_btn()"><img
                                            src="/static/admin/img/icon-deletelink.svg"/>&nbsp;&nbsp;&nbsp;</a>
                                </td>
                            </tr>
                            {#                            {% endfor %}#}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if first %}
                            <li class="page"><a href="?page=1">1</a></li>
                        {% endif %}
                        {% if left %}
                            {% if left_has_more %}
                                <li class="page"><a href="javascript:void(0)">...</a></li>
                            {% endif %}
                            {% for i in left %}
                                <li class="page"><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                        {% endif %}
                        <li class="page"><a href="javascript:void(0)" class="active"> {{ page_obj.number }}</a></li>
                        {% if right %}
                            {% for i in right %}
                                <li class="page"><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}
                            {% if right_has_more %}
                                <li class="page"><a href="javascript:void(0)">...</a></li>
                            {% endif %}
                        {% endif %}
                        {% if last %}
                            <li class="page"><a
                                    href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                            </li>
                        {% endif %}

                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>

        //删除
        function delete_btn() {
            if (window.confirm("你确定要删除吗？")) {
                return true;//确定返回真
            }
            else {
                return false;//取消返回假
            }
        }


    </script>
{% endblock %}