{% extends "base.html" %}

{% block css %}
    <style>
        .panel-body {
            margin-left: 5%;
        }

        a:hover {
            color: red;
        }

        .time-item strong {
            background: #C71C60;
            color: #fff;
            line-height: 49px;
            font-size: 36px;
            padding: 0 10px;
            margin-right: 10px;
            border-radius: 5px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

        }

        #day_show {
            float: left;
            line-height: 49px;
            color: #c71c60;
            font-size: 32px;
            text-indent: 25px;
            margin: 0 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .item-title .unit {
            background: none;
            line-height: 49px;
            font-size: 24px;
            padding: 0 10px;
            float: left;
        }

    </style>
{% endblock %}

{% block crumbs %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">
                    <a class="this-page">关于我们</a>
                </li>
            </ol>

        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <h4>平台使用时间倒计时：</h4>
                    <br>
                    <div class="time-item">
                        <span id="day_show">0天</span>
                        <strong id="hour_show">0时</strong>
                        <strong id="minute_show">0分</strong>
                        <strong id="second_show">0秒</strong>
                    </div>
                    <br><br><br><br>
                    <h5>关键字参数化：</h5>
                    <p><span style="font-weight: 600">支持对body中存在的嵌套参数进行参数化；</span></p>
                    <p><span style="font-size: 12px">&nbsp;&nbsp;&nbsp; 需要加双引号 例：{"group_id": 15,"text": ["__name名称","地址：__address","__text(100)描述"]}、{"params": {"param1": "当前时间__now","param2": "__random_int(0,1)"},"path": "/pages/index/index","remark": "备注__text(10)"}</span>
                    </p>
                    <p><span style="font-weight: 600">__random_int(x,y):</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;随机生成一个整数，x、y 生成整数的范围；可进行字符串拼接  例：test __random_int(100,200) 生成的参数为：test 123 ；</span>
                    </p>
                    <p><span style="font-weight: 600">__name:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;随机生成一个中文名字，可进行字符串拼接；</span>
                    </p>
                    <p><span style="font-weight: 600">__address:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;随机生成一个中文地址，可进行字符串拼接；</span>
                    </p>
                    <p><span style="font-weight: 600">__phone:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;随机生成一个手机号码，可进行字符串拼接；</span>
                    </p>
                    <p><span style="font-weight: 600">__text(num):</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;随机生成一段文字，num 生成文字的数量，可进行字符串拼接；</span>
                    </p>
                    <p><span style="font-weight: 600">__random_time:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;随机生成一个随机时间的字符串，可进行字符串拼接  例：2005-04-27 02:18:40；</span>
                    </p>
                    <p><span style="font-weight: 600">__now:</span><span
                            style="font-size: 12px">&nbsp;&nbsp;&nbsp;当前时间；</span></p>
                    <p><span style="font-weight: 600">__email:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;随机生成一个邮箱地址；</span>
                    </p>
                    <br>
                    <br>
                    <h5>使用Mock服务：</h5>
                    <p><span style="font-weight: 600"></span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;用例中可任意替换接口为mock，替换后接口地址变成 http://www.easytest.xyz/mocks + 接口路径 的拼接；</span>
                    </p>
                    <br>
                    <br>
                    <h5>关键字配置：</h5>
                    <p><span style="font-weight: 600">list:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;body参数为list的情况，不需要指定参数名称，用list标识；</span>
                    </p>
                    <br>
                    <br>
                    <h5>支持HttpRunner：</h5>
                    <p><span style="font-weight: 600">debugtalk:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;项目管理中，支持对每个项目单独设置 debugtalk.py，进行参数化引用；</span>
                    <p><span style="font-weight: 600">parameters:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;测试用例中参数填写使用 list(x,y,z) 格式；</span>
                    <p><span style="font-weight: 600">其他:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;和httprunner保持一致；</span>
                    <p><span style="font-weight: 600">版本:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;使用 httprunner 2.3.2版本，有修改部分源码；</span>
                    <p><span style="font-weight: 600">备注:</span><span style="font-size: 12px">&nbsp;&nbsp;&nbsp;保留了默认方式执行，便于定位问题【感觉httprunner定位问题比较麻烦】；</span>
                        <br>
                        <br>
                        <br>
                    <h5><span>联系我们：</span><span><i class="fa fa-qq"></i>&nbsp;&nbsp;954274592</span></h5>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script>

        //删除
        function delete_btn() {
            if (window.confirm("你确定要删除吗？")) {
                return true;//确定返回真
            }
            else {
                return false;//取消返回假
            }
        }


        // var intDiff = parseInt(30); //倒计时总秒数量

        window.onload = function timer() {
            window.setInterval(function () {
                // 倒计时效果
                var endTime = '2020/07/13 23:59:59';
                var end_time = new Date(endTime);
                var now = parseInt(new Date().getTime() / 1000);
                var end = parseInt(end_time.getTime() / 1000);
                var intDiff = end - now;
                var day = 0,
                    hour = 0,
                    minute = 0,
                    second = 0; //时间默认值
                if (intDiff > 0) {
                    day = Math.floor(intDiff / (60 * 60 * 24));
                    hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                    minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                    second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
                }
                if (minute <= 9) minute = '0' + minute;
                if (second <= 9) second = '0' + second;
                $('#day_show').html(day + "天");
                $('#hour_show').html('<s id="h"></s>' + hour + '时');
                $('#minute_show').html('<s></s>' + minute + '分');
                $('#second_show').html('<s></s>' + second + '秒');
                intDiff--;
            }, 1000);
        }


    </script>
{% endblock %}