{% extends "../../base.html" %}

{% block css %}
    <style>
        #cen {
            text-align: center;
        }

        a:hover {
            color: red;
        }

        .btn-primary:hover {
            color: red;
        }

        #plan-name {
            max-width: 150px;
            word-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        #plan-name:hover {
            white-space: normal;
            overflow: auto;
        }

        .btn {
            padding: 6px 18px;
        }

        #plan-content {
            text-align: center;
            max-width: 50px;
            word-wrap: break-word;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block crumbs %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="/yqjr/index">主页</a>
                </li>
                <li class="active">
                    <a class="this">基础信息</a>
                </li>
                <li class="active">
                    <a class="this-page">测试计划</a>
                </li>
            </ol>

        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <a href="/base/plan_add/" class="btn btn-primary"><i class="fa fa-plus-circle"></i>&nbsp;添加计划</a>
                </div>
                <div class="spinner"></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th id="cen">ID</th>
                            <th id="cen">计划名称</th>
                            <th id="cen">所属项目</th>
                            <th id="cen">测试环境</th>
                            <th id="cen">计划内容</th>
                            <th id="cen">性能测试</th>
                            <th id="cen">定时任务</th>
                            <th id="cen">描述</th>
                            <th id="cen">更新时间</th>
                            <th id="cen">更新用户</th>
                            <th id="cen">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for plan in contacts %}
                            {#                            {% for plan in plan_ %}#}
                            <tr>
                                <td id="cen">{{ plan.plan_id }}</td>
                                <td id="plan-name"><a href="/base/plan_update?plan_id={{ plan.plan_id }}"
                                                      class="layui-btn layui-btn-xs"
                                                      lay-event="edit">{{ plan.plan_name }}</a></td>
                                <td id="cen">{{ plan.project }}</td>
                                <td id="cen">{{ plan.environment }}</td>
                                <td id="plan-content">{{ plan.content }}</td>
                                <td id="cen">{{ plan.is_locust }}</td>
                                <td id="cen">{{ plan.is_task }}</td>
                                <td>{{ plan.description }}</td>
                                <td id="cen">{{ plan.update_time }}</td>
                                <td id="cen">{{ plan.update_user }}</td>
                                <td id="cen">
                                    <a href="#" class="layui-btn layui-btn-danger layui-btn-xs"
                                       onclick="run_button(this);"
                                       data-toggle="modal" data-target="#runCaseForm"><i class="fa fa-recycle"></i>&nbsp;&nbsp;&nbsp;
                                    </a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs"
                                       href="/base/report_page?plan_id={{ plan.plan_id }}">
                                        <i class="fa fa-edit"></i>&nbsp;&nbsp;&nbsp;
                                    </a>
                                    <a href="/base/plan_delete?plan_id={{ plan.plan_id }}"
                                       class="layui-btn layui-btn-danger layui-btn-xs" onclick="return delete_btn()">
                                        <img src="/static/admin/img/icon-deletelink.svg"/>&nbsp;&nbsp;&nbsp;</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div id="input-timed">

                    </div>
                    {% if error %}
                        <span style="color: red; font-size: 10px;">{{ error }}</span>
                    {% endif %}
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if contacts.has_previous %}
                            <a href="/base/plan/?page={{ contacts.previous_page_number }}">上一页</a>
                        {% endif %}

                        {#                        <span class="current">#}
                        {#                            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.#}
                        {#                        </span>#}

                        {% for page_number in contacts.paginator.page_range %}
                            {% ifequal page_number  contacts.number %}
                                |  {{ page_number }}
                            {% else %}
                                <a href="/base/plan/?page={{ page_number }}">|  {{ page_number }} </a>
                            {% endifequal %}

                        {% endfor %}

                        {% if contacts.has_next %}
                            <a href="/base/plan/?page={{ contacts.next_page_number }}">下一页</a>
                        {% endif %}
                    </span>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        //删除
        function delete_btn() {
            if (window.confirm("你确定要删除吗？")) {
                return true;//确定返回真
            }
            else {
                return false;//取消返回假
            }
        }

        //运行
        function run_button(obj) {
            alert("开始执行...");
            $('.spinner').show();
            var plan_id = obj.parentNode.parentNode.children[0].innerText;
            $.ajax({
                type: "post",
                url: "/base/plan_run/",
                data: {"plan_id": plan_id},
                success: function (data) {
                    if (data.hasOwnProperty('error')) {
                        console.log(data);
                        alert(data['error'])
                    } else {
                        console.log(data);
                        alert(data);
                        $('.spinner').hide();
                    }
                },
                error: function () {
                    alert("执行失败");
                    $('.spinner').hide();
                }
            });

        }
        //运行unittest
        function run_unittest(obj) {
            alert("开始执行...");
            $('.spinner').show();
            var plan_id = obj.parentNode.parentNode.children[0].innerText;
            $.ajax({
                type: "post",
                url: "/base/plan_unittest_run/",
                data: {"plan_id": plan_id},
                success: function (data) {
                    console.log(data);
                    alert(data);
                    $('.spinner').hide();
                },
                error: function () {
                    alert("执行失败");
                    $('.spinner').hide();
                }
            });

        }

    </script>
{% endblock %}
