<!doctype html>
<html lang="en">

<head>
    <title>EasyTest-自动化测试平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/static/css/demo.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon.png">

    {% block css %}{% endblock %}

</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="/index/"><img src="/static/img/logo-dark.png" alt="Klorofil Logo"
                                   class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="fa fa-exchange"></i></button>
            </div>
            <div id="navbar-menu1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/img/userImg.jpg"
                                                                                        class="img-circle" alt="Avatar">
                            <span>{{ user }}</span> <i class="icon-submenu fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/base/project/"><i class="fa fa-user-circle-o"></i> <span>My Profile</span></a></li>
                            <li><a href="https://email.163.com/"><i class="fa fa-envelope-open"></i>
                                <span>Message</span></a></li>
                            <li><a href="/base/sign/"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                            <li><a href="/logout/"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav" style="margin-top: 15px">
                    <li><a href="/index" class=""><i class="fa fa-home"></i> <span
                            style="margin-left: 0">主页</span></a></li>
                    <li>
                        <a href="#baseinfo" data-toggle="collapse" class="collapsed"><i class="fa fa-book fa-fw"></i>
                            <span style="margin-left: 0">基础信息</span> <i
                                    class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="baseinfo" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/project/" class="">项目管理</a></li>
                                <li><a href="/base/env/" class="">测试环境</a></li>
                                <li><a href="/base/interface/" class="">接口管理</a></li>
                                <li><a href="/base/case/" class="">用例管理</a></li>
                                <li><a href="/base/plan/" class="">测试计划</a></li>
                                <li><a href="/base/timing_task/" class="">定时任务</a></li>
                                <li><a href="/base/report_page/" class="">运行报告</a></li>
                                <li><a href="/base/performance/" class="">性能测试</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#system" data-toggle="collapse" class="collapsed"><i class="fa fa-cog fa-fw"></i> <span
                                style="margin-left: 0">系统设置</span>
                            <i class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="system" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/sign/" class="">签名方式</a></li>
                                <li><a href="/base/user/" class="">用户管理</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                {% block crumbs %}
                {% endblock %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

</div>

<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/scripts/klorofil-common.js"></script>
<script>
    $(document).ready(function () {
        var a_name = $("a.this").text();

        var page_name = $("a.this-page").text();
        console.log(a_name, page_name);
        if (a_name) {
            $("span:contains(" + a_name + ")").parent('a').removeClass("collapsed");
            $("span:contains(" + a_name + ")").parent('a').addClass("active");
            if (page_name) {
                $("a:contains(" + page_name + ")").parent('li').parent('ul').parent('div').removeClass("collapse");
                $("a:contains(" + page_name + ")").parent('li').parent('ul').parent('div').addClass("collapse in");
                $("a:contains(" + page_name + ")").addClass("active");
            }
        }
    });
</script>
{% block javascript %} {% endblock %}
</body>

</html>
