<!doctype html>
<html lang="en">

<head>
    <title>EasyTest-自动化测试平台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="/static/css/demo.css">
    <link rel="stylesheet" href="/static/css/loading.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/E_fa.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/E_fa.png">

    {% block css %}{% endblock %}

</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="/index/"><img src="/static/img/logo.png" alt="Klorofil Logo"
                                   class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></button>
            </div>
            <div id="navbar-menu1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/img/userImg.jpg"
                                                                                        class="img-circle" alt="Avatar">
                            <span>{{ user }}</span> <i class="icon-submenu fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" onclick="changePassword()"><i
                                    class="fa fa-minus-square"></i> <span>修改密码</span></a>
                            </li>
                            <li><a href="https://email.163.com/" target="_blank"><i class="fa fa-envelope-open"></i>
                                <span>163邮箱</span></a></li>
                            <li><a href="/admin/"><i class="fa fa-bookmark"></i> <span>管理后台</span></a></li>
                            <li><a href="/api/event_manage/"><i
                                    class="fa fa-mouse-pointer"></i> <span>demo页面</span></a>
                            </li>
                            <li><a href="/mocks/api/"><i
                                    class="fa fa-pinterest-square"></i> <span>Mocks服务</span></a>
                            </li>
                            <li><a href="http://www.easytest.xyz:8080" target="_blank"><i
                                    class="fa fa-rocket"></i> <span>jenkins部署</span></a>
                            </li>
                            <li><a href="http://www.easytest.xyz:8888/3ee201dc" target="_blank"><i
                                    class="fa fa-compass"></i> <span>宝塔监控</span></a>
                            </li>
                            <li><a href="https://github.com/lixiaofeng1993/EasyTest" target="_blank"><i
                                    class="fa fa-github"></i> <span>Github地址</span></a>
                            </li>
                            <li><a href="https://www.cnblogs.com/changqing8023" target="_blank"><i
                                    class="fa fa-rouble"></i> <span>博客园地址</span></a>
                            </li>
                            <li><a href="/logout/"><i class="fa fa-sign-out"></i> <span>退出</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav" style="margin-top: 15px">
                    <li><a href="/index" class=""><i class="fa fa-home"></i> <span
                            style="margin-left: 0">主页</span></a></li>
                    <li>
                        <a href="#project" data-toggle="collapse" class="collapsed"><i
                                class="fa fa-product-hunt fa-fw"></i>
                            <span style="margin-left: 0">项目管理</span> <i
                                    class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="project" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/project/" class="">项目管理</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#env" data-toggle="collapse" class="collapsed"><i class="fa fa-envira fa-fw"></i>
                            <span style="margin-left: 0">测试环境</span> <i
                                    class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="env" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/env/" class="">测试环境</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#interface" data-toggle="collapse" class="collapsed"><i
                                class="fa fa-pinterest-square fa-fw"></i>
                            <span style="margin-left: 0">接口管理</span> <i
                                    class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="interface" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/interface/" class="">接口管理</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#case" data-toggle="collapse" class="collapsed"><i class="fa fa-suitcase fa-fw"></i>
                            <span style="margin-left: 0">用例管理</span> <i
                                    class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="case" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/case/" class="">用例管理</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#plan" data-toggle="collapse" class="collapsed"><i class="fa fa-book fa-fw"></i>
                            <span style="margin-left: 0">测试计划</span> <i
                                    class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="plan" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/plan/" class="">测试计划</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#task" data-toggle="collapse" class="collapsed"><i class="fa fa-tasks fa-fw"></i>
                            <span style="margin-left: 0">定时任务</span> <i
                                    class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="task" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/timing_task/" class="">定时任务</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#report" data-toggle="collapse" class="collapsed"><i class="fa fa-bar-chart fa-fw"></i>
                            <span style="margin-left: 0">运行报告</span> <i
                                    class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="report" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/report_page/" class="">运行报告</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#performance" data-toggle="collapse" class="collapsed"><i class="fa fa-book fa-fw"></i>
                            <span style="margin-left: 0">性能测试</span> <i
                                    class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="performance" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/performance/" class="">性能测试</a></li>
                            </ul>
                            <ul class="nav">
                                <li><a href="/base/performance_report/" class="">聚合报告</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#sign" data-toggle="collapse" class="collapsed"><i class="fa fa-pencil fa-fw"></i>
                            <span
                                    style="margin-left: 0">签名方式</span>
                            <i class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="sign" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/sign/" class="">签名方式</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#user" data-toggle="collapse" class="collapsed"><i class="fa fa-user-secret fa-fw"></i>
                            <span
                                    style="margin-left: 0">用户管理</span>
                            <i class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="user" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/user/" class="">用户管理</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#about" data-toggle="collapse" class="collapsed"><i class="fa fa-cog fa-cab"></i> <span
                                style="margin-left: 0">关于我们</span>
                            <i class="icon-submenu fa fa-chevron-left"></i></a>
                        <div id="about" class="collapse ">
                            <ul class="nav">
                                <li><a href="/base/about/" class="">关于我们</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div style="text-align: center;"><h5><span>李先生没有牛肉面 © 2019</span></h5></div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                {% block crumbs %}
                {% endblock %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

</div>

<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/scripts/klorofil-common.js"></script>
<script>
    $(document).ready(function () {
        var a_name = $("a.this").text();

        var page_name = $("a.this-page").text();
        console.log(a_name, page_name);
        if (a_name) {
            $("span:contains(" + a_name + ")").parent('a').removeClass("collapsed");
            $("span:contains(" + a_name + ")").parent('a').addClass("active");
            if (page_name) {
                $("a:contains(" + page_name + ")").parent('li').parent('ul').parent('div').removeClass("collapse");
                $("a:contains(" + page_name + ")").parent('li').parent('ul').parent('div').addClass("collapse in");
                $("a:contains(" + page_name + ")").addClass("active");
            }
        }
    });
    function changePassword() {
        var new_password = prompt('新密码');
        $.ajax({
            type: "post",
            url: "/change_password/",
            data: {
                "new_password": new_password
            },
            success: function (data) {
                if (new_password) {
                    if (data['msg'] == 'success') {
                        alert('修改密码成功！');
                        window.location.replace("/login_action/");
                    } else {
                        alert(data['msg'])
                    }
                } else if (new_password == '') {
                    alert('密码不能为空！')
                } else {
                    // 点击取消按钮
                }

            }
        })
    }

</script>
{% block javascript %} {% endblock %}
</body>

</html>
