{% extends "base.html" %}

{% block css %}
    <style>
        #start-btn {
            border-color: #1dc5a3;
            background-color: #1dc5a3;
            border-radius: 2px;
            border: none;
            color: white;
            padding: 7px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
        }

        #start-btn:hover {
            color: red;
        }

        #stop-btn {
            border-color: #1dc5a3;
            background-color: #FF6666;
            border-radius: 2px;
            border: none;
            color: white;
            padding: 7px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
        }

        #stop-btn:hover {
            color: black;
        }

        iframe {
            width: 100%;
            height: 560px;
        }
    </style>
{% endblock %}

{% block crumbs %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">
                    <a class="this-page">性能测试</a>
                </li>
                <li class="active">
                    <a class="this" href="{% url 'base:performance_report' %}">聚合报告</a>
                </li>
            </ol>

        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <button id="start-btn" class="start-master" onclick="master()"><i
                            class="fa fa-try"></i>&nbsp;启动master
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button id="stop-btn" class="stop-master" onclick="stop()"
                            title="注：locust 已运行的情况下，需要先关闭所有的 slave ，然后再执行此操作！"><i
                            class="fa fa-try"></i>&nbsp;停止master
                    </button>
                    &nbsp;&nbsp;&nbsp;
                </div>
                <iframe src="http://www.easytest.xyz:8089/" frameborder="0"
                        scrolling="0"></iframe>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        function master() {
            var slave = prompt('设置需要启动的 slave 数量：');
            if (slave || slave === "") {
                $.ajax({
                    url: "/base/start_locust/",
                    type: "get",
                    data: {
                        "make": 'master',
                        "slave": slave
                    },
                    success: function (data) {
                        console.log(data);
                        if (data == 'ok') {
                            alert("启动 locust 成功！");
                            window.location.reload();
                        } else if (data == "no") {
                            alert("测试计划为设置为性能测试参数！")
                        }
                        else {
                            alert("出现异常，请联系管理员！");
                        }


                    }
                })
            } else {
                console.log("点击的取消按钮.")
            }

        }

        function stop() {
            var res = confirm("确定停止 locust 服务吗？");
            if (res) {
                $.ajax({
                    url: "/base/start_locust/",
                    type: "get",
                    data: {
                        "make": 'stop'
                    },
                    success: function (data) {
                        if (data == 'ok') {
                            alert("停止 locust 成功！");
                            window.location.reload();
                        } else {
                            alert("出现异常，请联系管理员！");
                        }
                    }
                })
            } else {
                console.log("点击的取消按钮.")
            }


        }
    </script>
{% endblock %}
