{% extends "../../base.html" %}

{% block css %}
    <style>

    </style>
{% endblock %}

{% block crumbs %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="/yqjr/index">主页</a>
                </li>
                <li class="active">
                    <a class="this">性能测试</a>
                </li>
                <li class="active">
                    <a class="this-page">性能测试</a>
                </li>
            </ol>

        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <iframe src="http://www.easytest.xyz:8089/" height="750" width="1600" frameborder="0" scrolling="0"></iframe>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>

    </script>
{% endblock %}
